.form {   
    text-align: center;
    background-color: #e9d8f4;
    height: 500px;
  }
  .button {
    background-color :#58257b;
    border: none;
    border-radius: 15px;
    width: 150px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  .button {
    background-color: #58257b;
    color: white;
    width: 900px;
    border: 1px solid #555555;
  }
  
  /* .button:hover {
    background-color:#58257b;
    width: 900px;
    color: white;
  } */
  .text{
      font-size: 24px;  
      margin-right: 750px; 
      color: #58257b;

  }
  .input{
    width: 900px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .content-wrapper{
    width: 1500px;
    
  }
  